---
import Layout from '@/layouts/Layout.astro';

import PageContainer from '@/components/PageContainer.astro';
import NewsletterSignup from '@/components/NewsletterSignup.astro';

import Bands from '@/components/Bands.astro';
import Tickets from '@/components/Tickets.astro';
import bandsData from './_bands';

import opengraphImg from './_img/opengraph-image.jpg';
import jsonLD from './_jsonLD.json';

import heroImg from './_img/hero.jpg';
import heroImgMobile from './_img/hero-mobile.jpg';
import videoCoverImg from './_img/video-cover.jpg';
import introImg from './_img/intro.jpg';
import lineupImg from './_img/lineup.jpg';
import lineupImgMobile from './_img/lineup-mobile.jpg';
import venueImg from './_img/venue.jpg';
import prepartyImg from './_img/preparty.jpg';
import afterpartyImg from './_img/afterparty.jpg';
import vipImg from './_img/vip.jpg';

import galleryCoverImg from './_img/gallery-cover-desktop.jpg';
import galleryCoverImgMobile from './_img/gallery-cover-mobile.jpg';
import ResponsiveImage from '@/components/ResponsiveImage.astro';
---

<Layout
	title="The Mustache Bash"
	openGraphImage={opengraphImg}
	openGraphTitle="San Diego Mustache Bash - March 22nd"
	openGraphDescription="San Diego Original - A party, a reunion, an excuse to take pride in the dirty fuzz you fertilize above your upper lip. Whatever you call it, let it be known: The Mustache Bash is calling."
	jsonLD={jsonLD}
>
	<section id="hero">
		<PageContainer>
			<div class="graphics">
				<picture>
					<source media="(min-width: 680px)" srcset={heroImg.src}>
					<source srcset={heroImgMobile.src}>
					<img src={heroImg.src} alt="Mustache Bash 2025 - March 22nd">
				</picture>
			</div>
		</PageContainer>
	</section>

	<section id="tagline-video">
		<PageContainer>
			<div class="flex-row">
				<div class="tagline">
					<h3>
						<!-- non-breaking space for mobile -->
						Family. Freedom. Fun.<br>The Funk. Welcome to the&nbsp;Mustache&nbsp;Bash.
					</h3>
					<h3 class="next-line">
						The Funkiest Disco Day on&nbsp;Earth.
					</h3>
				</div>
				<div class="video img-wrap">
					<a href="https://youtu.be/dAb-nCPd2rQ" target="_blank">
						<picture>
							<source media="(min-width: 680px)" srcset={videoCoverImg.src}>
							<img src={videoCoverImg.src} alt="Mustache Bash Video">
						</picture>
						<p>View More on Youtube <span>&#x2023;</span></p>
					</a>
				</div>
			</div>
		</PageContainer>
	</section>

	<section id="intro">
		<PageContainer>
			<div class="flex-row">
				<div class="intro-image">
					<ResponsiveImage src={introImg} alt="San Diego Intro" />
				</div>

				<div class="intro-text">
					<h4>Looking Back<br>Bashing Forward</h4>
					<p>
						The 2024 Bash sold out the Port Pavilion once again last March, summoning thousands of funk-drunk souls and cementing Stache Bash as a household name in Southern California. Four stages, half a dozen bars, a roller rink and a ridiculous quantity of disco balls set the scene as we boogied into the night for a party unanimously known as the best Bash of all time. Come Saturday, March 22nd, we'll be leveling up yet again. Stay tuned—don't want to miss this one! Follow <a class="white" href="https://www.instagram.com/themustachebash/" target="_blank">@TheMustacheBash</a> and subscribe to our email list to be the first to know when tickets go on sale.
					</p>
					<div class="follow-button"><a class="ghost-button" target="_blank" href="https://www.instagram.com/themustachebash/">Follow&nbsp;On&nbsp;Instagram</a></div>
				</div>
			</div>
		</PageContainer>
	</section>

	<section id="lineup">
 		<PageContainer>
 			<div class="img-wrap lineup-image">
 				<picture>
 					<source media="(min-width: 680px)" srcset={lineupImg.src}>
					<source srcset={lineupImgMobile.src}>
 					<img src={lineupImg.src}>
 				</picture>
 			</div>
	 	</PageContainer>
 	</section>

 	<section id="venue">
		<PageContainer>
			<div class="flex-row">
				<div class="venue-description">
					<h3>Venue</h3>
					<h4>Mariner's Point Park</h4>
					<p>
						Sand, sailboats and a psychedelic sunset. Other than that, expect the same beautiful Bash as usual. Studio 54-style disco? Yup. Free-for-all roller rink? Double yup. Bottomless bars, four stages, live funk bands, disco DJs and thousands of funky souls spirited in their '70s best? You funkin' betcha! It's that same ole boogie by the bay, baby, only this time, a slightly different bay. And the best part—our friends won't be stuck outside missing all the fun.
					</p>
					<a class="ghost-button" target="_blank" href="https://maps.app.goo.gl/g4kgUmC7oFbi4kRu9">Get Directions</a>
				</div>
				<div class="venue-image"><ResponsiveImage src={venueImg} alt="Mariner's Point Park" /></div>
			</div>
		</PageContainer>
	</section>

 	<section id="set-times">
  		<PageContainer>
  			<h3>Set Times</h3>
  			<div class="flex-row">
  				<div class="water-stage">
  					<h4>Water Stage</h4>
  					<dl>
 						<dt>Chromeo</dt>
 						<dd>8:45 pm</dd>

 						<dt>Supertaste</dt>
 						<dd>6:30pm</dd>

 						<dt>Mustache Bash<br>Family Band</dt>
 						<dd>4:30 pm</dd>

 						<dt>Futuresexuals</dt>
 						<dd>2:30 pm</dd>
  					</dl>
  				</div>
  				<div class="fire-stage">
  					<h4>Fire Stage</h4>
  					<dl>
 						<dt>Derrick Does Disco</dt>
 						<dd>8:30pm</dd>

 						<dt>Breakbot</dt>
 						<dd>7:00pm</dd>

 						<dt>Classixx</dt>
 						<dd>5:30 pm</dd>

 						<dt>Flying Mojito Bros</dt>
 						<dd>4:00 pm</dd>

 						<dt>Max Heegard</dt>
 						<dd>2:00 pm</dd>
  					</dl>
  				</div>
  				<div class="wind-stage">
  					<h4>Wind Stage</h4>
  					<dl>
 						<dt>3Skelves B2b<br>Dylan C. Greene</dt>
 						<dd>7:45 pm</dd>

 						<dt>Discotoshi b2b Starfari</dt>
 						<dd>5:45 pm</dd>

 						<dt>HE2SHE</dt>
 						<dd>3:45 pm</dd>
  					</dl>
  				</div>
  				<div class="earth-stage">
  					<h4>Earth Stage</h4>
  					<dl>
 						<dt>Abby Normal</dt>
 						<dd>7:30pm</dd>

 						<dt>DJ KOCO aka SHIMOKITA</dt>
 						<dd>6:00pm</dd>

 						<dt>DJ Dials</dt>
 						<dd>4:30 pm</dd>

 						<dt>Combover</dt>
 						<dd>3:00 pm</dd>
  					</dl>
  				</div>
  			</div>
  		</PageContainer>
  	</section>

  	<section id="lineup-bands">
 		<PageContainer>
 			<h4 class="lineup-header">Featuring 4 stages with live performances by:</h4>

 			<Bands bands={bandsData}/>
 		</PageContainer>
 	</section>

	<section id="preparty">
		<PageContainer>
			<div class="flex-row">
				<div class="preparty-description">
					<h3>Preparty</h3>
					<h4>Good Night John Boy</h4>
					<p>
						To wet your whistle on Bash Eve, we’re heading to the hottest new disco joint in town—Good Night John Boy—for the Mustache Bash preparty on Friday night. Think Studio 54 meets your grandparents funky ‘70s basement, right in the heart of the Gaslamp Quarter, with all the vibes to kick Bash weekend off right. There’s even a light-up dancefloor to warm up those boogie shoes before the big day.
					</p>
					<p>
						8:00PM–Late. $20 tickets. Lineup coming soon!
					</p>
					<a class="ghost-button" href="#tickets">Get Tickets</a>
				</div>
				<div class="preparty-image"><ResponsiveImage src={prepartyImg} alt="Preparty: Good Night John Boy"></div>
			</div>
		</PageContainer>
	</section>

	<section id="afterparty">
		<PageContainer>
			<div class="flex-row">
				<div class="afterparty-description">
					<h3>Afterparty</h3>
					<h4>Disco for Dessert</h4>
					<p>
						The Bash is too much mojo to bottle into a single day, so naturally, a buck wild afterparty is in store! To keep the party blasting off all night, we’re hosting the official Bash Afterparty at Mavericks Beach Club in PB. Smolder in the grooves as Mavericks transforms into a disco dreamland with 3 rooms of tunes. Tack on an afterparty pass at checkout – just $45 bones to light up the dance floor and Bash the night away. Full lineup coming soon!
					</p>
					<a class="ghost-button" href="#tickets">Get Tickets</a>
				</div>
				<div class="afterparty-image"><ResponsiveImage src={afterpartyImg} alt="Afterparty: Mavericks"></div>
			</div>
		</PageContainer>
	</section>

	<section id="vip">
		<PageContainer>
			<div class="flex-row">
				<div class="vip-description">
					<h3>VIP Experience</h3>
					<h4>Upgrade Your Ticket</h4>
					<p>
						If you've ever Bashed, you know it's one big VIP experience—just getting through the gates makes you a VIP! But back again by popular demand, we present the Bash VIP experience for the funkiest among funky specimens—kinda like the Jimi Hendrix Experience, but with less acid. There's only a handful of these bad mamajamas available so get 'em while the gettin's good! VIP Tickets includes:
					</p>
					<p class="vip-includes">
						Afterparty Ticket<br>
						Private VIP Lounge<br>
						Private VIP Viewing Deck<br>
						Front row Main Stage Access<br>
						Separate VIP Entrance<br>
						Private VIP Bar(s)<br>
						Extra Restrooms<br>
					</p>
					<a class="ghost-button" href="#tickets">Get Tickets</a>
				</div>
				<div class="vip-image"><ResponsiveImage src={vipImg} alt="VIP Tickets"></div>
			</div>
		</PageContainer>
	</section>

	<Tickets eventIds={[
		'0fe92cbb-a22c-4b25-993e-773ca016a5f1', // bash
		'f8b7a188-f9c7-48eb-bcb8-35462d76bb01', // afterparty
		'533ba437-e2ba-472a-8180-b453dba5bb9f' // preparty
	]}/>

	<section id="gallery">
		<div class="cover-wrapper">
			<a href="/gallery">
				<picture>
					<source media="(min-width: 680px)" srcset={galleryCoverImg.src}>
					<source srcset={galleryCoverImgMobile.src}>
					<img src={galleryCoverImg.src} alt="Gallery">
				</picture>
			</a>
		</div>
	</section>

	<NewsletterSignup />
</Layout>

<style>
	#hero {
	  background: #dfe3e6;
	  box-sizing: border-box;
	}
	#hero .container-1230 {
	  position: relative;
	}
	@media (max-width: 600px) {
	  #hero {
	    background: #dfe3e6;
	    height: auto;
	    padding-bottom: 3em;
	  }
	}
	#hero .graphics {
	  margin-left: -1.875em;
	  margin-right: -1.875em;
	}
	#hero .graphics img,
	#hero .graphics picture {
	  max-width: 100%;
	}
	#tagline-video {
	  background-color: #dfe3e6;
	  padding-bottom: 2em;
	}
	#tagline-video .tagline {
	  flex: 3 1;
	}
	@media (max-width: 390px) {
	  #tagline-video .tagline {
	    margin: 0 auto 1em;
	    width: 270px;
	  }
	}
	@media (min-width: 400px) and (max-width: 600px) {
	  #tagline-video .tagline {
	    padding: 0 3em;
	    margin-bottom: 3em;
	  }
	}
	@media (min-width: 770px) {
	  #tagline-video .tagline {
	    padding-top: 3em;
	  }
	}
	#tagline-video .tagline h3 {
	  font-weight: 500;
	  font-size: 3.75rem;
	  color: #000000;
	  text-transform: uppercase;
	  margin: 0;
	  padding: 0;
	  line-height: 1em;
	  letter-spacing: -0.5px;
	}
	@media (max-width: 600px) {
	  #tagline-video .tagline h3 {
	    font-size: 2.5em;
	    margin-bottom: 0;
	    line-height: 1em;
	  }
	}
	#tagline-video .tagline h3.next-line {
	  margin: 0;
	}
	#tagline-video .video {
	  flex: 5 1;
	}
	#tagline-video .video p {
	  font-size: 24px;
	  letter-spacing: 1px;
	  position: relative;
	  font-family: 'league-gothic', Helvetica, Arial, sans-serif;
	  text-align: center;
	  text-transform: uppercase;
	  color: #f00;
	}
	#tagline-video .video p span {
	  position: relative;
	  display: inline-block;
	  font-size: 50px;
	  line-height: 24px;
	  top: 9px;
	}
	#intro {
	  overflow: hidden;
	  background-color: #000;
	}
	#intro .intro-text {
	  flex: 3 1;
	}
	@media (min-width: 770px) {
	  #intro .intro-text {
	    margin-left: 7em;
	    margin-top: 7em;
	  }
	}
	#intro .intro-text h4 {
	  color: #ffffff;
	  line-height: 1em;
	}
	@media (max-width: 769px) {
	  #intro .intro-text h4 {
	    text-align: center;
	  }
	}
	#intro .intro-text p {
	  color: #ffffff;
	  font-size: 1.125em;
	  /* 18/16 */
	}
	@media (max-width: 769px) {
	  #intro .intro-text p {
	    margin-top: 0;
	    text-align: center;
	  }
	}
	@media (max-width: 600px) {
	  #intro .intro-text p {
	    margin-bottom: 2.125rem;
	  }
	}
	#intro .intro-text p .white {
	  color: #ffffff;
	  font-weight: 700;
	}
	@media (max-width: 769px) {
	  #intro .intro-text .follow-button {
	    text-align: center;
	    margin-bottom: 2em;
	  }
	}
	#intro .intro-text .ghost-button {
	  width: 14.5em;
	  color: #ffffff;
	  border-color: #ffffff;
	  border-radius: 400px;
	}
	#intro .intro-text .ghost-button:hover {
	  background: transparent;
	  color: #ffffff;
	  box-shadow: inset 0 0 12px -1px #dfe3e6;
	}
	@media (max-width: 769px) {
	  #intro .intro-text .ghost-button {
	    display: inline-block;
	  }
	}
	#intro .intro-image {
	  flex: 4 1;
	  margin: 0 -2em;
	}
	#lineup .lineup-image {
	  margin: 0 -1.875em;
	}
	@media (max-width: 600px) {
	  #lineup .lineup-image {
	    margin-bottom: 2em;
	  }
	}
	#lineup-bands .lineup-header {
	  text-align: center;
	  margin-bottom: 2em;
	}
	@media (max-width: 600px) {
	  #lineup-bands .lineup-header {
	    font-size: 1em;
	    margin-bottom: 0.5em;
	  }
	}
	#lineup-bands .flex-row {
	  justify-content: space-between;
	}
	@media (max-width: 600px) {
	  #lineup-bands .flex-row {
	    display: block;
	  }
	}
	#set-times {
	  background: url('./_img/set-times.jpg') #ffffff no-repeat;
	  background-position: bottom center;
	  background-size: cover;
	  padding: 6.25em 0 20em;
	  /* 100/16 */
	}
	@media (max-width: 600px) {
	  #set-times {
	  	background-image: url('./_img/set-times-mobile.jpg');
	    padding: 2em 0 10em;
	  }
	}
	@media (min-width: 770px) {
	  #set-times .family-band br {
	    display: none;
	  }
	}
	#set-times h3 {
	  color: #ffffff;
	  text-align: center;
	  margin-bottom: 0.25em;
	}
	@media (max-width: 600px) {
	  #set-times h3 {
	    text-align: left;
	    margin-bottom: 0;
	  }
	}
	#set-times h4 {
	  color: #ffffff;
	}
	@media (max-width: 600px) {
	  #set-times h4 {
	    font-size: 1.4375em;
	    /* 23/16 */
	  }
	}
	#set-times .flex-row {
	  justify-content: center;
	}
	#set-times dl,
	#set-times dt,
	#set-times dd {
	  margin: 0;
	  padding: 0;
	  text-transform: uppercase;
	  color: #ffffff;
	}
	#set-times dt {
	  font-size: 1.375em;
	  /* 22/16 */
	  font-weight: 900;
	  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
	  line-height: 1em;
	}
	@media (max-width: 600px) {
	  #set-times dt {
	    font-size: 1.0625em;
	    /* 17/16 */
	  }
	}
	#set-times dd {
	  font-size: 1em;
	  /* 16/16 */
	  margin-bottom: 1em;
	}
	@media (max-width: 600px) {
	  #set-times dd {
	    font-size: 0.75em;
	    /* 12/16 */
	  }
	}
	#set-times .water-stage,
	#set-times .fire-stage,
	#set-times .wind-stage,
	#set-times .earth-stage {
	  margin-bottom: 1em;
	}
	@media (min-width: 600px) {
	  #set-times .water-stage,
	  #set-times .fire-stage,
	  #set-times .wind-stage,
	  #set-times .earth-stage {
	    flex: 0 0 25%;
	    box-sizing: border-box;
	  }
	  #set-times .water-stage h4,
	  #set-times .fire-stage h4,
	  #set-times .wind-stage h4,
	  #set-times .earth-stage h4 {
	    margin-top: 0;
	    margin-bottom: 1em;
	  }
	}
	#venue {
	  background-color: #ffffff;
	  padding-top: 4.5em;
	  padding-bottom: 7em;
	}
	#venue h3 {
	  margin-bottom: 0;
	}
	#venue h4 {
	  margin-top: 0;
	}
	#venue p {
	  margin-bottom: 2em;
	}
	#venue .venue-image,
	#venue .venue-description {
	  flex: 1 0 50%;
	  box-sizing: border-box;
	}
	#venue .venue-image {
	  position: relative;
	  padding: 2em 0 3em;
	}
	#venue .venue-description {
	  padding: 1.25em 4.375em 0 0;
	}
	#venue .ghost-button {
	  color: #000000;
	  border-color: #000000;
	  border-radius: 400px;
	}
	#venue .ghost-button:hover {
	  background: transparent;
	  color: #231917;
	  box-shadow: inset 0 0 12px -1px #dfe3e6;
	}
	@media (max-width: 600px) {
	  #venue {
	    padding: 0;
	  }
	  #venue .venue-description {
	    order: 1;
	    padding: 2em 0 0;
	  }
	  #venue .venue-image {
	    order: 2;
	  }
	  #venue .venue-image img {
	    height: auto;
	    max-width: 100%;
	  }
	}
	#preparty {
	  background: #e1e5e8;
	  padding: 5.5em 0 4.75em;
	  overflow: hidden;
	}
	#preparty .preparty-description {
	  flex: 3 1;
	}
	@media (min-width: 770px) {
	  #preparty .preparty-description {
	    margin-right: 7em;
	  }
	}
	#preparty .preparty-description h3 {
	  color: #000000;
	  margin-top: 0;
	  margin-bottom: 0;
	  line-height: 1em;
	}
	#preparty .preparty-description h4 {
	  color: #000000;
	  margin-top: 0;
	}
	#preparty .preparty-description p {
	  color: #000000;
	  font-size: 1em;
	  margin-bottom: 1em;
	}
	#preparty .preparty-description .ghost-button {
	  width: 14.5em;
	  color: #000000;
	  border-color: #000000;
	  border-radius: 400px;
	}
	#preparty .preparty-description .ghost-button:hover {
	  background: transparent;
	  color: #000000;
	  box-shadow: inset 0 0 12px -1px #dfe3e6;
	}
	@media (max-width: 769px) {
	  #preparty .preparty-description .ghost-button {
	    display: inline-block;
	    margin-bottom: 3em;
	  }
	}
	#preparty .preparty-image {
	  flex: 4 1;
	  margin: 0 -2em;
	}
	@media (min-width: 770px) {
	  #preparty .preparty-image {
	    margin: -6.25em -2em -6.25em;
	  }
	}
	@media (max-width: 600px) {
	  #preparty {
	    padding: 0;
	  }
	  #preparty .preparty-description {
	    order: 1;
	    padding: 2em 0 0;
	  }
	  #preparty .preparty-image {
	    order: 2;
	  }
	  #preparty .preparty-image img {
	    height: auto;
	    max-width: 100%;
	  }
	}
	#afterparty {
	  background: #000000;
	  padding: 5.5em 0;
	  overflow: hidden;
	}
	#afterparty .afterparty-description {
	  flex: 3 1;
	}
	@media (min-width: 770px) {
	  #afterparty .afterparty-description {
	    margin-right: 7em;
	  }
	}
	#afterparty .afterparty-description h3 {
	  color: #ffffff;
	  margin-bottom: 0;
	  margin-top: 0;
	  line-height: 1em;
	}
	#afterparty .afterparty-description h4 {
	  color: #ffffff;
	  margin-top: 0;
	}
	#afterparty .afterparty-description p {
	  color: #ffffff;
	  font-size: 1em;
	  margin-bottom: 3em;
	}
	#afterparty .afterparty-description .ghost-button {
	  width: 14.5em;
	  color: #ffffff;
	  border-color: #ffffff;
	  border-radius: 400px;
	}
	#afterparty .afterparty-description .ghost-button:hover {
	  background: transparent;
	  color: #ffffff;
	  box-shadow: inset 0 0 12px -1px #dfe3e6;
	}
	@media (max-width: 769px) {
	  #afterparty .afterparty-description .ghost-button {
	    display: inline-block;
	    margin-bottom: 3em;
	  }
	}
	#afterparty .afterparty-image {
	  flex: 4 1;
	  margin: 0 -2em;
	}
	@media (min-width: 770px) {
	  #afterparty .afterparty-image {
	    margin: -6.25em -2em -6.25em;
	  }
	}
	@media (max-width: 600px) {
	  #afterparty {
	    padding: 0;
	  }
	  #afterparty .afterparty-description {
	    order: 1;
	    padding: 2em 0 0;
	  }
	  #afterparty .afterparty-image {
	    order: 2;
	  }
	  #afterparty .afterparty-image img {
	    height: auto;
	    max-width: 100%;
	  }
	}
	#vip {
	  background: #e1e5e8;
	  padding: 5.5em 0 3.75em;
	  overflow: hidden;
	}
	#vip .vip-description {
	  flex: 3 1;
	}
	@media (min-width: 770px) {
	  #vip .vip-description {
	    margin-right: 7em;
	  }
	}
	#vip .vip-description h3 {
	  color: #000000;
	  margin-top: 0;
	  margin-bottom: 0;
	  line-height: 1em;
	}
	#vip .vip-description h4 {
	  color: #000000;
	  margin-top: 0;
	}
	#vip .vip-description p {
	  color: #000000;
	  font-size: 1em;
	  margin-bottom: 1em;
	}
	#vip .vip-description p.vip-includes {
	  text-transform: uppercase;
	  line-height: 1.1em;
	}
	#vip .vip-description .ghost-button {
	  width: 14.5em;
	  color: #000000;
	  border-color: #000000;
	  border-radius: 400px;
	}
	#vip .vip-description .ghost-button:hover {
	  background: transparent;
	  color: #000000;
	  box-shadow: inset 0 0 12px -1px #dfe3e6;
	}
	@media (max-width: 769px) {
	  #vip .vip-description .ghost-button {
	    display: inline-block;
	    margin-bottom: 3em;
	  }
	}
	#vip .vip-image {
	  flex: 4 1;
	  margin: 0 -2em;
	}
	@media (min-width: 770px) {
	  #vip .vip-image {
	    margin: -6.25em -2em -6.25em;
	  }
	}
	@media (max-width: 600px) {
	  #vip {
	    padding: 0;
	  }
	  #vip .vip-description {
	    order: 1;
	    padding: 2em 0 0;
	  }
	  #vip .vip-image {
	    order: 2;
	  }
	  #vip .vip-image img {
	    height: auto;
	    max-width: 100%;
	  }
	}
	#gallery {
	  -webkit-user-select: none;
	  user-select: none;
	  position: relative;
	}
	#gallery .cover-wrapper {
	  text-align: center;
	}
	#gallery .cover-wrapper img {
	  max-width: 100%;
	  border: none;
	  margin: 0;
	  padding: 0;
	}

</style>
