---
import { Image } from 'astro:assets';

import ResponsiveImage from '@/components/ResponsiveImage.astro';

import spotifyIcon from '../img/icons/spotify.svg';
import instagramIcon from '../img/icons/instagram.svg';
import youtubeIcon from '../img/icons/youtube.svg';
import websiteIcon from '../img/icons/www.svg';

interface Props {
	bands: Band[];
}

const { bands } = Astro.props;
---

<div class="bands">
	{bands.map(band => (
		<div class="band">
			<ResponsiveImage src={band.img} alt={band.name} />
			<h4>{band.name}</h4>
			<p>
				{band.description}
			</p>
			<div class="icons-row">
				{band.links.spotify && <a class="link-icon" href={band.links.spotify} target="_blank"><Image src={spotifyIcon} alt="Spotify" /></a>}
				{band.links.instagram && <a class="link-icon" href={band.links.instagram} target="_blank"><Image src={instagramIcon} alt="Instagram" /></a>}
				{band.links.youtube && <a class="link-icon" href={band.links.youtube} target="_blank"><Image src={youtubeIcon} alt="YouTube" /></a>}
				{band.links.website && <a class="link-icon" href={band.links.website} target="_blank"><Image src={websiteIcon} alt="Website" /></a>}
			</div>
		</div>
	))}
</div>

<style>
	.img-wrap img {
	    display: block;
	    margin: 0 auto;
	    max-width: 100%;
	    height: auto;
	}
	.bands {
	  margin-bottom: 3em;
	}
	@media (min-width: 600px) {
	  .bands {
	      display: grid;
	      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
	      margin-bottom: 3em;
	  }
	}
	.band {
	  box-sizing: border-box;
	  margin-bottom: 3em;
	  padding: 0 1em;
	}
	.band p {
	  font-size: 14px;
	}
	@media (max-width: 600px) {
	  .band h4 {
	    font-size: 1.5625em;
	    margin: 0.7i 5rem 0;
	  }
	  .band p {
	    margin-bottom: 1rem;
	  }
	}
	.icons-row {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	}
	.link-icon {
	  display: block;
	  flex: 1 0 auto;
	  max-width: 2.5rem;
	  margin-right: 1em;
	}
	.link-icon img {
	  display: block;
	  width: 100%;
	  height: 100%;
	}
	@media (min-width: 600px) {
	  .band:first-child {
	    margin-right: 1em;
	  }
	  .band:last-child {
	    margin-left: 1em;
	  }
	}
</style>
